@import "./style.css";

.pig {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%) rotate(0deg);
  transition: 0.3s;
}

.message {
  font-size: 60px;
  color: white;
  text-shadow: 0 0 5px var(--pink);
  position: absolute;
  top: 10%;
}

.pipe {
  position: absolute;
  width: 85px;
  right: 0;
  background-color: var(--yellow);
  animation: pipesMove 2.5s linear infinite;
  z-index: -1;
}

.top-pipe {
  height: 40%;
  top: 0;
}

.btm-pipe {
  height: 20%;
  bottom: 0;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 50px;
  z-index: 3;
}

.high-score {
  position: absolute;
  top: 60px;
  left: 10px;
  color: white;
  font-size: 50px;
}

@keyframes pipesMove {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
