@import "./style.css";

.pig {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%) rotate(0deg);
  transition: 0.3s;
}

.message {
  font-size: 60px;
  color: white;
  text-shadow: 0 0 5px var(--pink);
  position: absolute;
  top: 10%;
}

.pipe {
  position: absolute;
  right: 0;
  height: 100vh;
}
