@import "./style.css";

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Teko", sans-serif;
  cursor: default;
}

.pig {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%) rotate(0deg);
  transition: 0.3s;
}

.message,
.game-over_title {
  font-size: 60px;
  line-height: 30px;
  margin-bottom: 0;
  color: white;
  text-shadow: 0 0 5px var(--pink);
}

.final-score {
  color: white;
  font-size: 40px;
}

.pipes {
  height: 100%;
  width: 100%;
  position: relative;
}

.pipe {
  position: absolute;
  width: 85px;
  right: 0;
  background-color: var(--yellow);
  animation: pipesMove 3s linear infinite;
}

.top-pipe {
  height: 40%;
  top: 0;
}

.btm-pipe {
  height: 20%;
  bottom: 0;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 50px;
  z-index: 3;
}

.high-score {
  position: absolute;
  top: 60px;
  left: 10px;
  color: white;
  font-size: 50px;
}

.game-over {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: "Teko", sans-serif;
  cursor: default;
  overflow: hidden;
}

.final-table {
  border-collapse: collapse;
  color: white;
  width: 30%;
  font-size: 1.2rem;
}

.final-table caption {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 5px var(--pink);
}

.final-table td {
  border: 1px solid white;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.td-score {
  text-align: center;
}

.refresh-btn {
  padding: 0.8em 2.8em;
  font-size: 1.2rem;
}

@keyframes pipesMove {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
